.mvn/
target/
.DS_Store
*.class
*.jar
*.war
*.nar
*.zip
*.tar.gz
*.rar
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
*.swp
*.swo
*~
.env
.env.local
.idea/
*.iml
*.iws
*.ipr
*.log
*.pot
*.mo
.python-version
__pycache__/
